.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

.hero-text {
  position: absolute;
  top: 30%;
  right: 25%;
  text-align: center;
  z-index: 3;
  color: white;
  font-size: 4em;
  text-shadow: 2px 4px #D33D90 ;
}
