@import url("./index.css");

.parallax {
  background-image: url('../img/steven-roe-1045539-unsplash-min-crop.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .4;
}

.hero-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  position: absolute;
  margin: inherit;
  top: 25%;
  z-index: 3;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow: 0 0 40px var(--neon-magenta), 
    1px 1px 10px var(--dark-blue),
    -1px -1px 10px var(--dark-blue);  
}

.contact-icons {
  position: relative;
  z-index: 3;
  top: 65vh;
  width: 60vw;
  display: flex;
  margin: -43px auto;
  justify-content: space-between;
}
/* 
{"ease":".25,.1,.25,1","linear":"0,0,1,1","ease-in":".42,0,1,1","ease-out":"0,0,.58,1","ease-in-out":".42,0,.58,1"}
*/
.icon-anchor {
  color: white;
  font-size: 5em;
  position: relative;
  visibility: hidden;
  transition: transform linear .3s;
  transition-timing-function: ease-in-out;
  
}

.icon-anchor-anim {
  animation-name: icon-bounce;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.icon-anchor:hover {
  transform: scale(1.5) /* rotateZ(360deg) */;
}

/* @keyframes see-saw {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(45deg);
  }
} */


@keyframes icon-bounce {
  from {
    top: 120vh;
  }
  to {
    top: 0px;
    visibility: visible;
    display: block;
  }
}

@media only screen 
and (max-width: 700px) {
    .parallax {
      background-attachment: scroll;
    }
    .contact-icons {
      width: 75vw;
    }
  }

  @media only screen 
  and (max-width: 500px) {
    .hero-text {
      font-size: 1.5em;
      text-align: center; 
      text-shadow: 1.5px 2.5px var(--neon-magenta)
    }

    .icon-anchor {
      font-size: 4em;
    }

    .contact-icons {
      margin: -40px auto;
    }

    .icon-anchor:hover {
      transform: none;
    }
  }