.parallax {
  background-image: url('../img/ian-chen-522675-unsplash.jpg');

  height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
}