@import url("./index.css");

.parallax {
  background-image: url('../img/steven-roe-1045539-unsplash-min.jpg');

  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  position: absolute;
  margin: inherit;
  top: 35%;
  text-align: center;
  z-index: 3;
  color: white;
  font-size: 4em;
  text-shadow: 2px 4px var(--neon-magenta);
}

@media only screen 
  and (max-device-width: 680px) {
    .parallax {
      background-attachment: scroll;
    }

    .hero-text {
      font-size: 1.5em;
      text-align: center; 
      text-shadow: 1.5px 2.5px var(--neon-magenta)
    }
  }