:root {
  --dark-blue: #052340;
  --neon-magenta: #D33D90;
  --lt-grey: #a5ad9d;
  --drk-grey: #111010;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Used to add a bottom "shadow" of lighter color for dark div and div-like elements */
.dark-shadow-bottom {
  /* border-bottom: 1px solid var(--lt-grey); */
  box-shadow: 0 3px rgba(var(--lt-grey));
}
