@import url("./fonts.css");

:root {
  --dark-blue: #052340;
  --lt-blue:  #3482cc;
  --lt-aqua: #44dcf7;
  -dark-aqua: #25b1ca;
  --neon-magenta: #ec46a1;
  --dark-magenta: #8b1757;
  --lt-grey: #a5ad9d;
  --blue-grey:#252934;
  --dark-grey: #111010;
  /* --dark-purple: #252934; */
  --not-black: #181515;
  --lr-padding: 12vw;
  --tp-padding: 8vh;
  --copy-font: 'Merriweather Sans', sans-serif;
  --hdr-font: 'Rambla', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--copy-font), var(--hdr-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, 
h2, 
h3 {
  font-family: var(--hdr-font);
}

section > h2 {
  font-size: 2em;
}

.master-padding {
  padding: 8vh 12vw;
}

/* Used to add a bottom "shadow" of lighter color for dark div and div-like elements */
.dark-shadow-bottom {
  /* border-bottom: 1px solid var(--lt-grey); */
  box-shadow: 0 3px rgba(var(--lt-grey));
}

@media only screen 
and (max-width: 700px) {
  :root {
    --tp-padding: 6vh;
  }
  .master-padding {
    padding:  6vh 12vw 0;
  }
}
