@import url("./index.css");

div.outerNav {
  position: fixed;
  width: 100vw;
  top: 0;
  padding: 1vh 0;
  display: flex;
  flex-direction: row;
  background-color: var(--dark-blue);
  z-index: 50;
}

.menu-button {
  display: none;
}

div.innerNav {
  display: block;
  flex: 1;
  text-align: center;
}

a {
  padding: 0 0 2px;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--neon-magenta);
  font-weight: 800;
  font-family: 'Thasadith', sans-serif;
}

a:hover {
  padding: 0;
  background-color: black;
  border-bottom: 2px solid white;
  color: rgb(255, 219, 225);
}

@media only screen 
  and (max-device-width: 680px) {
    div .outerNav {
      flex-direction: column;
      justify-content: center;
    }

    .menu-button {
      display: block;
    }

    .top-icon {
      padding: 10px 0;
      padding-left: 20px;
      transform-origin: center;
      transform: scale(1.3);
      color: white;
    }
    
    div.innerNav {
      display: none;
    }
}