@import url("./index.css");

.toggle-shelf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 5vh;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--dark-blue);
}

.toggle-shelf > p {
  font-size: 1.2em;
  padding-left:2vw;
}
.toggle-shelf > p > span {
  margin-right: 2vw;
}

.tech-card {
  min-width: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1vw;
  border-radius: 4px;
  background-color: black;
  border: 1px solid var(--lt-grey);
}

.skill-name {
  font-size: 1.3em;
}

#skillshelf {
  display: flex;
  background-color: var(--drk-grey);
}

.break-line {
  height: 1.5vh;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(--dark-blue);
  border-top: 2px solid var(--lt-grey);
}

.skillshelf-seen {
  padding: 1.5vw;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media only screen 
and (max-device-width: 680px) {

}